@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.nav-btn:hover, .nav-btn:active {
    border: solid 0.1em;
    border-radius: 1em;
    padding: 0.2em 1em 0.2em 1em;
    transition: 0.5s;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 767px) {

    .side-bar-btn {
        display: block;
        margin-right: -2em;
    }

    .nav-menu {
        display: none;
    }

    .home-title {
        font-size: 65px;
        margin: 0 0 0.2em 0.2em;
    }

    .center-items {
        text-align: center;
    }

    .contact-title {
        font-size: 50px;
    }

    .contact-textarea {
        height: fit-content;
    }

    .contact-container {
        display: block;
    }
}